@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* navbar */
.navbar, .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    height: 70px;
    background-color: #4768bb;
    padding: 0 5%;
    color: white;
}

.navbar .logo {
    font-weight: 300;
}

.menu .menu-item {
    list-style: none;
}

.menu-item .link {
    background-color: #1e409794;
    text-decoration: none;
    color: rgba(255, 255, 255, .8);
    padding: 1rem;
    margin-left: .5rem;
    border-radius: 5px;
    font-size: 1rem;
}

.menu-item .link:hover {
    background-color: #1e4097;
    color: white;
}

img{
   width: 100%;
   height: 100%;
}

#container{
    margin: 2rem 0;
    padding: 0 5%;
    display: flex;
}

/* Meal detail */

#meal-img-container{
    /* flex: 1; */
    margin-right: 2rem;
}
#meal-detail-container{
    /* width: 55%; */
    display: flex;
}
#headings{
    flex: 1;
    margin-right: 1rem;
    /* width:50%; */
}
.detail-class{
    margin-bottom:30px;
}
#ins{
    flex: 1.5;
    /* width: 40%; */
}

#ins h2 {
    margin-bottom: 1rem;
}

#ins p {
    text-align: justify;
}

/* Ukuran gambar */
#main-image img{
    height: auto;
    border-radius: 10px;
    width:300px;
    
    box-shadow: 0 0 25px rgba(0,0,0,.5);
}
